* {
    margin: 0px;
    padding: 0px;
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    height: 100jh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    box-sizing: border-box;
    overflow: auto;
}

nav {
    padding-left: 600px;
    flex: 1;
    position: fixed;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 30px;
}

nav ul li a{
    text-decoration: none;
    color: beige;
    
}

ul li a:hover{
    background-color: gray;
    transition: 0.4s;
    border-radius: 30px;
}

.emcima{
    height: 100px;
    float:left;
}

body{
    position: relative;
    background: linear-gradient(to bottom, rgb(21, 21, 21), rgb(36, 36, 36));
}

.imgcellbomenu{
    float: right;
}

html{
    scroll-behavior: smooth;
}

.SOBRE{
    text-align: center;
    color: bisque;
}

.containerh1{
    font-size:60px;
    font-weight: 100;
    margin-left: 100px;
    margin-top: 50px;
    color: bisque;
}

.containerh2{
    font-size:30px;
    font-weight: 70;
    margin-left: 100px;
    margin-right: 200px;
    margin-top: 50px;
    color:floralwhite;
}

.content{
    justify-content:left;
    font-weight: 100;
}

.content h1{
    color:rgb(193, 197, 140);

}

.content h4{
    font-size: 20px;
    color: white;
}

p{
    text-align: justify;
}

    /*CELLBIT 2012/2013 */

.imgcelleuto{
    float: right;
}


.cellbo12 h1{
    color:rgb(193, 197, 140);
}

.cellbo12 h4{
    font-size: 20px;
    color: white;
}

.cellbo2012{
    float: left;
}

/*CELLBIT 2014/2015*/

.cellbo14 h1{
    color:rgb(193, 197, 140);
    align-items: center;
}

.cellbo14 h4{
    font-size: 20px;
    color: white;
}

.cellbo2014{
    float: right;
}

.cell15{
    float: right;
}

.bebezao{
    float: left;
    width: 800px;
    height: 600px;
}

/*SETA*/

.imgseta{
    width: 50px;
    height: 50px;
}

/*CELLBIT 2016/2017*/

.cellbo2016{
    float: left;
}

.cellbo17 h1{
    color:rgb(193, 197, 140);
}

.cellbo17 h4{
    font-size: 20px;
    color: white;
}

.cellbo17 h3{
    text-align: right;
}



/*CELLBIT 2018/2019*/

.cellbo2018{
    float: right;
}

.cellbo19 h1{
    color:rgb(193, 197, 140);
}

.cellbo19 h4{
    font-size: 20px;
    color: white;
}



/*CELLBIT 2020/2021 */

.cellbo2020{
    float: left;
}

.cellbo21 h1{
    color:rgb(193, 197, 140);
}

.cellbo21 h4{
    font-size: 20px;
    color: white;
}

/*CELLBIT 2022/2023 */

.cellbo2022{
    float: right;
}

.cellbo23 h1{
    color:rgb(193, 197, 140);
}

.cellbo23 h4{
    font-size: 20px;
    color: white;
}

/*rodape*/

.rodape h5{
    text-align: center;
}

.HOMEICON{
    float: right;
}












