*{
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url(Imagens/CONTATO\ BACK3.jpg);
}

.container{
    display: flex;
    justify-content: left;;
    align-items: center;
    margin-left: 750px;
    
}

.containe{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    margin-left: 100px;
    float: left;
    height: 100px;
    width: 50px;
 }

.form-h{
    font-family: Arial, sans-serif;
    font-size: 6rem;
    font-weight: 400;
    color: beige;
    letter-spacing: 0.3rem;
    margin-bottom: 3rem;
    transition: all 0.3s;
    text-align: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-form-input{
    width: 60rem;
    height: 5rem;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: rgba(255, 255, 255, 0.4);
    border: 0.1rem solid white
    font-size: 1.7rem;
    font-weight: 300;
    color: #aaa;
    letter-spacing: .1rem;
    outline: none;
}

.contact-form-input:focus{
    color: #ffffff;
    border: .1rem solid #8374d3;
}

.contact-form-input::placeholder{
    color: #929292;
}

.contact-form-textarea{
    height: 20rem;
    resize: none;
}

.form-submit-btn{
    width: 20rem ;
    height: 5rem;
    background-color: white;
    border: none;
    font-size: 1.8rem;
    color: #929292;
    cursor: pointer;
}

.HOME{
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    box-sizing: border-box;
    overflow: auto;
}

nav{
    padding-left: 600px;
    flex: 1;
    position: fixed;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 30px;
}

nav ul li a{
    text-decoration: none;
    color: beige;
    
}

ul li a:hover{
    background-color: gray;
    transition: 0.4s;
    border-radius: 30px;
}

